<h1>Make Your Phrase a Title</h1>
<form action="/title">
  <div class="form-group">
    <label for="title">Enter your title here</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
